<!DOCTYPE html>
<html>
  <title>Pseudo Diaries</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <body>
    <table id="list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach(function(s, idx) { %>
          <form action="/students/<%= idx %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">Delete Student</button>
          </form>
         
          
          <tr>
            <td><%= s.name %></td>
            <td><%= s.location %></td>
            <td><a href="/students/<%= s._id %>">Student Details</a></td>
          </tr>
          <% }); %>
          <a href="/students/new">Add New Student</a>

        </tbody>
      </table>

  </body>
</html>
