<!DOCTYPE html>
<html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma" />
  <body>
    <!-- Top menu -->
    <div>
      <div>
        <div>Add New Student</div>
        <div>Pseudo Diaries</div>
      </div>
    </div>

    <!-- !PAGE CONTENT! -->
    <div>
      <!-- First Photo Grid-->
      <div>
        <div>
          <img />
          <h3>Luis Matey's Diary</h3>
        </div>
        <div>
          <img />
          <h3>Edith Rodriguez's Diary</h3>
        </div>
        <div>
          <img />
          <h3>Jessalynn Moncada's Diary</h3>
        </div>
        <div>
          <img />
          <h3>Denise Kathy's Diary</h3>
        </div>
      </div>

      <!-- Second Photo Grid-->
      <div>
        <div>
          <img />
          <h3>Luis Matey's Diary</h3>
        </div>
        <div>
          <img />
          <h3>Edith Rodriguez's Diary</h3>
        </div>
        <div>
          <img />
          <h3>Jessalynn Moncada's Diary</h3>
        </div>
        <div>
          <img />
          <h3>Denise Kathy's Diary</h3>
        </div>
      </div>

      <!-- Pagination -->
      <div>
        <div>
          <a>«</a>
          <a>1</a>
          <a>2</a>
          <a>»</a>
        </div>
      </div>
    </div>
  </body>
</html>
