<%- include('../partials/header') -%>

<link rel=‘stylesheet’ href=‘/stylesheets/style.css’ />


  <body>
    <div class="foo">
      <span class="letter" data-letter="N">N</span>
      <span class="letter" data-letter="E">E</span>
      <span class="letter" data-letter="W">W</span>
      <br>
      <span class="letter" data-letter="S">S</span>
      <span class="letter" data-letter="T">T</span>
      <span class="letter" data-letter="U">U</span>
      <span class="letter" data-letter="D">D</span>
      <span class="letter" data-letter="E">E</span>
      <span class="letter" data-letter="N">N</span>
      <span class="letter" data-letter="T">T</span>
    </div>

    <div class="newBody">
    <form id="new-form" action="/students" method="POST">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Full Name</label>
      <input type="text" class="form-control" name="name"  id="formGroupExampleInput" placeholder="First Name and Last Name">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Location</label>
      <input type="text" class="form-control" name="location" id="formGroupExampleInput2" placeholder="City, State">
    </div>
    <div class="mb-3">
      <label>Do you have previous coding experience?:</label>
      <select name="preCodingExp">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <button type="submit">ADD STUDENT</button>
    </form>
    </div>

  </body>
</html>
