<!DOCTYPE html>
<html>
<body>

<h2>New Student</h2>

<form>
  <label>Full name:</label><br>
  <input type="text" name="name" value="First & Last Name"><br>
  <label>Location:</label><br>
  <input type="text" name="location" value="City, State">
  <label>Mood</label>
  <select name="mood">
    <option value="G">G</option>
    <option value="PG">PG</option>
    <option value="PG-13">PG-13</option>
    <option value="R">R</option>
</form>



</body>
</html>