<!-- <h1><%= student.name %></h1>
<section id="show-page">
    <div><img > </div>
    
    <div><%= student.location %></div>
    <div>Previous Coding? :</div>
    <div><%= student.preCodingExp %></div>
    <div><%= student ? 'Yes' : 'No' %></div> -->