<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="show-page">
        <div>Name:</div>
        <div><%= student.name %></div>
        <div>Location:</div>
        <div><%= student.location %></div>
        <div>Previous Coding Experience:</div>
        <div><%= student.preCodingExp ? 'Yes' : 'Nope' %></div>
       </section>
       <a href="/diaries">Link to Diaries</a>

       <h2>Diaries</h2>
<form 
id="add-Diary-form"
  method="POST"
  action="/students/<%= student._id %>/diaries">
  <label>Diary:</label>
  <textarea name="content"></textarea>
<label>Date:</label>
<input type="date" name="date">
  <label>Mood:</label>
  <select name="mood">
        <option value="Happy">Happy</option>
        <option value="Excited">Excited</option>
        <option value="Enthusiatic">Enthusiatic</option>
        <option value="Confident">Confident</option>
        <option value="Hopeful">Hopeful</option>
        <option value="Neutral">Neutral</option>
        <option value="Anxious">Anxious</option>
        <option value="Frustrated">Frustrated</option>
        <option value="Sad">Sad</option>
        <option value="Angry">Angry</option>
  </select>
  <input type="submit" value="Add Diary">
  
</form>

</body>
</html>