!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title>Edit Students</title>
	</head>
	<body>
        <form id="new-form" action="/students" method="POST">
			<label>Full name:</label><br />
			<input type="text" name="name" value="First & Last Name" /><br />
			<label>Location:</label><br />
			<input type="text" name="location" value="City, State" /><br />
			<label>Do you have previous coding experience?:</label>
			<select name="preCodingExp">
			  <option value="yes">Yes</option>
			  <option value="no">No</option></select
			><br />
			<input type="submit" value="Add Student" />
		  </form>
          
	</body>
</html>