<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <select>
        <% diaries.forEach(function(d) { %>
          <option><%= d.name %></option>
        <% }) %>
      </select>
    <form id="add-diary-form" action="/diaries" method="POST">
      <label>Date:</label>
      <input type="date" name="date">
      <label>Mood:</label>
      <input type="text" name="mood">
      <label>Diary Entry:</label>
      <input type="text" name="diaryEntry">

      <input type="submit" value="Add Diary">
    </form>
    
</body>
</html>     