<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diariest</title>
  </head>
  <body>
    <h2>Diaries</h2>
    <section id="show-page">
      <div>Date:</div>
      <div><%= diary.date %></div>
      <div>Mood:</div>
      <div><%= diary.mood %></div>
      <div>Diary Entry:</div>
      <div><%= diary.diaryEntry %></div>
    </section>
  </body>
</html>
