/* body {
  margin-top: 20px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#studentBox {
  position: static;
}

.deleteButton {
    display:list-item; 
    margin-left: 375px;
}

.newStudentLink {
   display:list-item;
    margin-left: 375px;
}

/* .studentDetails {
  margin-top: 200px
} */

 